.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
  }
  
  .about img {
    width: 90%;
    grid-column: 1/5;
  }
  
  .about-info {
    grid-column: 5/10;
    padding: 3em;
  }
  
  .about-info h2 {
    font-size: 2em;
    color: #191c32;
  }
  
  .divider {
    height: 4px;
    width: 60px;
    background-color: #ff7f7f; 
    margin-top: 5px;
    margin-bottom: 2em;
    margin-left: 5px;
  }
  
  .about p {
    margin-bottom: 1em;
    color: #191c32;
    font-weight: bold;
  }