
.download-cv {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color:$colordetalles; 
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 20px -5px $colordetalles; 
    -moz-box-shadow: 1px 3px 11px -5px $colordetalles; 
    box-shadow: 1px 3px 11px -5px $colordetalles; 
    font-weight: bold;
    &:hover{
      background-color:$colordetalles;
      box-shadow: none;
      color:black; 
      transform: scale(1.2);
      font-weight: bold;
    }
  }