.bodyfotografia{
  background-color: $colorfondo;
}
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas responsivas */
    gap: 20px; /* Espacio entre las imágenes */
    background-color: #191c32; /* Color de fondo para la galería */
    padding: 20px; /* Espaciado dentro de la galería */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .gallery-item {
    overflow: hidden; /* Oculta partes de la imagen que excedan el tamaño del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    img {
        width: 100%; /* Imagen ocupa todo el espacio disponible */
        height: 100%; /* Imagen ocupa todo el espacio disponible */
        object-fit: cover; /* Cubre el contenedor sin distorsionar la imagen */
      }
  }
  .wrapper2 {
    background-color: $colorfondo; /* Color de fondo para el wrapper */
    padding: 20px; /* Espaciado dentro del wrapper */
  }
  
  
  
  .cardfotografia { 
    width: 100%; /* Ajustar el ancho de las tarjetas para pantallas pequeñas */
    background-color: $colorcard;
    margin: 1em;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .card__title {
    padding: 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    img {
        display: block;
        width: 100%;
        height: 20rem;
        border-radius: 10px;
      }
  }
 

