/* Navbar Bootstrap personalizado */
.navbar-custom {
    background-color: #191c32;
    padding: 2em;
    transition: all 0.3s ease; /* Transición para el contenedor */
  }
  .navbar a{
    color: #fff;
  }
  
  .navbar-brand {
    margin-top: -7px;
  }
  
  .navbar-brand span {
    color: #ff7f7f; /* Cambiado a rojo clarito */
  }
  
  .navbar-nav .nav-item {
    list-style: none;
    transition: transform 0.3s ease; /* Transición para los elementos del menú */
  }
  
  .navbar-nav .nav-link {
    color: #ffffff; /* Ajustar el color de los enlaces del menú */
    text-decoration: none;
    padding: 5px 15px; /* Reducir el padding */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    font-weight: 700; /* Poner el texto en negrita */
    transition: color 0.4s ease, background-color 0.3s ease; /* Transición para color y fondo */
    border-radius: 20px;
    margin: 1vw;
  }
  
  .navbar-nav .nav-item:hover .nav-link {
    background-color: rgba(255, 127, 127, 0.8); /* Cambiado a rojo clarito */
    color: #000000; /* Ajustar el color del texto en hover */
    border-radius: 20px;
  }
  
  .navbar-nav .nav-link.active {
    color: #ffffff;
  }
  
  .navbar-nav .nav-item:hover {
    transform: scale(1.2); /* Agranda las opciones del menú */
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }