.portfolio,
.contact-section {
  width: 100vw;
  background-color: #191c32;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
  margin-left: 20px;
}

.portfolio .container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}