/* Media queries */
@media (max-width: 767px) {
    .navbar-custom {
      padding: 1em;
    }
  
    .navbar-nav {
      width: 90%;
    }
  
    .navbar-nav .nav-link {
      padding: 10px 15px;
    }
  
    .main {
      grid-template-columns: 1fr; /* Cambiar a una columna en pantallas pequeñas */
      img {
        width: 25vw; /* Ajustar el ancho de la imagen principal en pantallas pequeñas */
      }
    }  
    .portfolio-heading h2,
    .contact-heading h2 {
      font-size: 2em;
    }
    .card {
      width: 100%; /* Ajustar el ancho de las tarjetas en pantallas pequeñas */
    }
  
    .container-contact {
      flex-direction: column; /* Asegurar que el contenido se apile en pantallas pequeñas */
    }
  
    .about {
      grid-template-columns: 1fr; /* Cambiar a una columna en pantallas pequeñas */
      img {
        grid-column: 1 / -1; /* Asegurar que la imagen ocupe toda la fila */
        width: 30vw;
        height: auto;
      }
    }
}